.App {
    text-align: center;
  }
  
.center-stepper{
  display: flex;
  justify-content: center;
}
.task1{
  background-color: orange;
   
  margin: auto;
    width: 70%;
}
@media(min-width: 1353px){
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .task1{
    background-color: orange;
    margin: auto;
    width: 70%;
    
  }
  
  
}
